.docs-list {
    margin-top: 15px;
    
    .doc-item {
        margin-bottom: 10px;
        padding-bottom: 10px;
        border-bottom: 1px dashed @comment;
        
        .doc-title {
            color: @orange;
            font-weight: bold;
        }
        .doc-content {
            color: @fg;
            margin-top: 5px;
            padding-left: 15px;
        }
    }
}
