// Vue App Component Styling Loader
.vue-container {
    padding: 15px;
    background-color: @current-line;
    border-radius: 4px;
    
    .title {
        color: @cyan;
    }
    
    @import "./components/_button.less";
    @import "./components/_search-bar.less";
    @import "./components/_data-block.less";
    @import "./components/_messages.less";
    @import "./components/_docs-list.less";
    @import "./components/_blog.less";
    @import "./components/_pagination.less";
    @import "./components/_author.less";
}
